* {
    font-family: arial;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

img {
    height: 150px;
}

#container {
    max-width: 380px;
    margin-inline: auto;
    margin-top: 70px;
}

body {
    text-align: center;
    background-color: #006400;
    color: white;
    height: calc(100vh -70px);
}

h1 {
    font-size: 2rem;
}

p {
    margin: 20px 30px;
}

input,
button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    border: none;
}

input, #p1 {
    margin-bottom: 20px;
}

button {
    background-color: #1C1C1C;
    border: none;
    color: white;
    transition: filter .3s;
}

button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

#pergunta, #resposta {
    font-size: 22px;
    margin: 14px 0 0;
}