* {
    font-family: arial;
    box-sizing: border-box;
}

img {
    height: 150px;
}

#container {
    margin-top: 60px;
    width: 80%;
    max-width: 380px;
    margin-inline: auto;
}

body {
    text-align: center;
    background-color: #006400;
    color: white
}

h1 {
    font-size: 2rem;
}

#p1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
}

input,
button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    border: none;
}

input {
    margin-bottom: 20px;
}

button {
    background-color: #1C1C1C;
    border: none;
    color: white;
    transition: filter .2s;
}

button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

#resposta {
    margin-top: 7px;
    transition: opacity 1s;
}

#pergunta {
    font-size: 18px;
    opacity: .8;
}